# Ignore everything in this directory
target
.classpath
.settings
.project
*.iml
*.iws
*.ipr
.idea
*.mar
/modules/integration/tests-integration/bpel/src/test/resources/axis2config/axis2_client.xml
/modules/integration/tests-integration/bpel/src/test/resources/keystores/products/client-truststore.jks
/modules/integration/tests-integration/bpel/src/test/resources/keystores/products/wso2carbon.jks
/modules/integration/tests-integration/bpel/src/test/resources/keystores/stratos/client-truststore.jks
/modules/integration/tests-integration/bpel/src/test/resources/keystores/stratos/wso2carbon.jks
/modules/integration/tests-integration/bpmn/src/test/resources/axis2config/axis2_client.xml
/modules/integration/tests-integration/bpmn/src/test/resources/keystores/products/client-truststore.jks
/modules/integration/tests-integration/bpmn/src/test/resources/keystores/products/wso2carbon.jks
/modules/integration/tests-integration/bpmn/src/test/resources/keystores/stratos/client-truststore.jks
/modules/integration/tests-integration/bpmn/src/test/resources/keystores/stratos/wso2carbon.jks
/modules/integration/tests-integration/humantasks/src/test/resources/axis2config/axis2_client.xml
/modules/integration/tests-integration/humantasks/src/test/resources/keystores/products/client-truststore.jks
/modules/integration/tests-integration/humantasks/src/test/resources/keystores/products/wso2carbon.jks
/modules/integration/tests-integration/humantasks/src/test/resources/keystores/stratos/client-truststore.jks
/modules/integration/tests-integration/humantasks/src/test/resources/keystores/stratos/wso2carbon.jks
/modules/integration/tests-integration/taskcoordination/src/test/resources/axis2config/axis2_client.xml
/modules/integration/tests-integration/taskcoordination/src/test/resources/keystores/products/client-truststore.jks
/modules/integration/tests-integration/taskcoordination/src/test/resources/keystores/products/wso2carbon.jks
/modules/integration/tests-integration/taskcoordination/src/test/resources/keystores/stratos/client-truststore.jks
/modules/integration/tests-integration/taskcoordination/src/test/resources/keystores/stratos/wso2carbon.jks
/modules/integration/tests-patches/bpel/src/test/resources/axis2config/axis2_client.xml
/modules/integration/tests-patches/bpel/src/test/resources/keystores/products/client-truststore.jks
/modules/integration/tests-patches/bpel/src/test/resources/keystores/products/wso2carbon.jks
/modules/integration/tests-patches/bpel/src/test/resources/keystores/stratos/client-truststore.jks
/modules/integration/tests-patches/bpel/src/test/resources/keystores/stratos/wso2carbon.jks
/logs/automation.log

