<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BPS UI Integration test suite" parallel="false">

    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="Server Start-up" preserve-order="true" verbose="2">
        <classes>
            <!-- <class name="org.wso2.carbon.esb.ServerStartupTestCase"/>-->
        </classes>
    </test>
    <!-- UI TestCases -->
    <test name="Basic UI Test Cases" preserve-order="true" verbose="2" parallel="false">
        <classes>
            <class name="org.wso2.bps.ui.integration.test.LoginTestCase"/>
        </classes>
    </test>
</suite>


