<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BPS Test Suite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.core.PlatformExecutionManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformSuiteManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformAnnotationTransferManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformTestManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformReportManager"/>
    </listeners>

    <test name="Server Stratup" preserve-order="true" verbose="2">
        <classes>
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BpelActCombineUrlTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BpelActComposeUrlTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BpelActIgnoreMissingFromDataTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELBasicActivitiesTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELDataHandlingTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELExtensionTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELFunctionalityTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELMessageRoutingTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELMultiUploadTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELPubSubTestCase"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELRestInvocationTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELRPCPartnerInvocationTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELStructuredActivitiesTest"/>-->
            <!--<class name="org.wso2.carbon.bps.bpelactivities.BPELTestCaseMisc"/>-->
            <!--<class name="org.wso2.carbon.bps.managescenarios.BpelInstanceManagementTest"/>-->
            <!--<class name="org.wso2.carbon.bps.managescenarios.BpelProcessManagementTest"/>-->
            <!--<class name="org.wso2.carbon.bps.uploadscenarios.BpelRedeployTest"/>-->
            <!--<class name="org.wso2.carbon.bps.mgtstructuredactivities.BpelStructActionFlowTest"/>-->
        </classes>
    </test>
    <test name="BPEL Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.bps.uploadscenarios"/>
            <package name="org.wso2.carbon.bps.bpelactivities"/>
            <package name="org.wso2.carbon.bps.managescenarios"/>
            <package name="org.wso2.carbon.bps.mgtstructuredactivities"/>
        </packages>
    </test>

</suite>


