<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BPS HumanTask TestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.core.PlatformExecutionManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformSuiteManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformAnnotationTransferManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformTestManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformReportManager"/>
    </listeners>

    <test name="Server Stratup" preserve-order="true" verbose="2">
        <classes>
            <!-- <class name="org.wso2.carbon.esb.ServerStartupTestCase"/>-->
        </classes>
    </test>
    <!-- HumanTask TestCases -->
    <test name="HumanTask Basic Test Cases" preserve-order="true" verbose="2" parallel="false">
        <classes>
            <class name="org.wso2.carbon.bps.humantask.HumanTaskCreationTestCase" />
        </classes>
    </test>

    <test name="HumanTask People Assignment Test" preserve-order="true" verbose="2" parallel="false">
        <classes>
            <class name="org.wso2.carbon.bps.humantask.HumanTaskPeopleAssignment" />
        </classes>
    </test>
</suite>


