<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BPS HumanTask TestSuite" parallel="false">

    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="Server Stratup" preserve-order="true" verbose="2">
        <classes>
            <!-- <class name="org.wso2.carbon.esb.ServerStartupTestCase"/>-->
        </classes>
    </test>
    <!-- HumanTask TestCases -->
    <test name="BPMN Basic Test Cases" preserve-order="true" verbose="2" parallel="false">
        <classes>
            <class name="org.wso2.bps.integration.tests.bpmn.BPMNTaskCreationTestCase" />
            <class name="org.wso2.bps.integration.tests.bpmn.BPMNCappDeploymentTestCase" />
            <class name="org.wso2.bps.integration.tests.bpmn.BPMNMultiTenancyTestCase" />
            <class name="org.wso2.bps.integration.tests.bpmn.ProcessInstanceTestCase" />
            <class name="org.wso2.bps.integration.tests.bpmn.UserTaskTestCase" />
            <class name="org.wso2.bps.integration.tests.bpmn.DeployUnDeployBPMNPackageTestCase" />
            <class name="org.wso2.bps.integration.tests.bpmn.DeployUnDeployInvalidBPMNPackageTestCase" />
            <class name="org.wso2.bps.integration.tests.bpmn.JavaServiceTaskDeploymentUndeploymentTestCase" />
        </classes>
    </test>

</suite>


